.filter-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    margin: 1rem 0;
    max-width: 1000px;
    flex-wrap: wrap;
}

.filter-container button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #5264C3;
    font-size: 20px;
    padding: 5px;
    user-select: none;
}

.filter-container button:hover {
    text-decoration: underline;
}