.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    color: black;
    max-width: 400px;
    margin: 3rem;
    text-align: center;
    font-weight: bold;
  }

  .modal-content button {
    width:200px;
    background-color: #5264C3;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
  }